fieldset.warning-content-message {
  color: #734c00;
  border-color: #f4daa6;
  background-color: #fdf8ed;
}

fieldset.info-content-message {
  color: #31708f;
  border-color: #0074bd;
  background-color: #d9edf7;
}

fieldset.error-content-message {
  color: #a51b00;
  border-color: #f9c9bf;
  background-color: #fcf4f2;
}
